#pokegodex-body-container {
    height: calc(100vh - #{$header-height} - 8px);
    width: calc(100vw - 8px);
    margin-top: 4px;
    margin-left: 4px;
}

#pokegodex-background {
    height: 100vh;
    width: 100vw;
    z-index: -2;
    left: 0;
    top: 0;
    background-color: #dc0a2d;
    position: absolute;
}

#pokegodex-animated-background {
    z-index: -1;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 500px;
    transition: all 0.5s ease-in-out;
    
    &.extended {
        transform: translate(-50%, -50%) scale(5.0);
    }
}