<div class="pokemon-detail-specs">
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title">
            Avg. Height
        </div>
        <div class="pokemon-detail-specs-value">
            <span ng-bind="ctrl.pokemon.AverageHeight"></span>
            <span>m</span>
        </div>
    </div>
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title">
            Avg. Weight
        </div>
        <div class="pokemon-detail-specs-value">
            <span ng-bind="ctrl.pokemon.AverageWeight"></span>
            <span>kg</span>
        </div>
    </div>
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title">
            Weaknesses
        </div>
        <div class="pokemon-detail-specs-value pokemon-detail-specs-weaknesses">
            
        </div>
    </div>
</div>
<div class="pokemon-detail-specs">
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title">
            Base Attack
        </div>
        <div class="pokemon-detail-specs-value">
            <span ng-bind="ctrl.pokemon.Stats.BaseAttack"></span>
        </div>
    </div>
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title">
            Base Defense
        </div>
        <div class="pokemon-detail-specs-value">
            <span ng-bind="ctrl.pokemon.Stats.BaseDefense"></span>
        </div>
    </div>
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title">
            Base Stamina
        </div>
        <div class="pokemon-detail-specs-value">
            <span ng-bind="ctrl.pokemon.Stats.BaseStamina"></span>
        </div>
    </div>
</div>