.pokemon-detail-specs {
    display: flex;
    flex-direction: row;
    height: 80px;
    width: 100%;
    
    &-box {
        flex-grow: 1;
        height: 100%;
        width: 100%;
        background: #ffffff;
        background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #efefef 100%);
        background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #efefef 100%);
        background: radial-gradient(ellipse at center, #ffffff 0%, #efefef 100%);
    }

    &-title {
        text-align: center;
        font-size: 14px;
        font-weight: 100;
        width: 100%;
        margin-top: 10px;
        color: #757575;
    }

    &-value {
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        width: 100%;
        color: #424242;
        transition: all 0.5s ease-in-out;
    }

    &-weaknesses {
        display:flex;
        flex-wrap: wrap;
    }

    &-weakness {
        flex-grow:1;
        width: 50%;
        display:inline-block;
        height:20px;
        margin-bottom:2px;
    }
}