<div class="pokemon-detail-specs">
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title" translate="Application.AvgHeight">
        </div>
        <div class="pokemon-detail-specs-value">
            <span ng-bind="ctrl.pokemon.AverageHeight"></span>
            <span>m</span>
        </div>
    </div>
    <div class="pokemon-detail-specs-box">
        <div class="pokemon-detail-specs-title" translate="Application.AvgWeight">
            Avg. Weight
        </div>
        <div class="pokemon-detail-specs-value">
            <span ng-bind="ctrl.pokemon.AverageWeight"></span>
            <span>kg</span>
        </div>
    </div>
</div>