.pokemon-detail{
    &-header{
        background-color:#E44A4C;
        height:180px;
        width:100%;
        color:white;
        padding:20px;
    }
    &-number{
        font-size:25px;
    }
    &-name{
        font-size:40px;
        text-transform:uppercase;
        color:white;
        margin-top:15px;
    }
    &-types{
        margin-top:15px;
    }
    &-specs{
        display:flex;
        height:80px;
        width:100%;
        flex-direction: row;
        &-box{
            flex-grow:1;
            height:100%;
            width:100%;
            background: #ffffff;
            background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #efefef 100%);
            background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#efefef 100%);
            background: radial-gradient(ellipse at center,  #ffffff 0%,#efefef 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 );
        }
        &-title{
            text-align:center;
            font-size:14px;
            font-weight:100;
            width:100%;
            margin-top:10px;
            color:#757575;
        }
        &-value{
            margin-top:10px;
            text-align: center;
            font-size:16px;
            width:100%;
            color:#424242;
        }
    }
}