.pokemon-detail{
    &-header{
        height:180px;
        width:100%;
        color:white;
        padding:20px;
        position:relative;
        background-color:rgba(0,0,0,0.1);
    }
    &-image{
        position:absolute;
        right:0px;
        bottom:0px;
        opacity:1;
        transition:all 0.5s ease-in-out;
    }
    &-number{
        font-size:25px;
        transition:all 0.5s ease-in-out;
        opacity:1;
    }
    &-name{
        font-size:40px;
        text-transform:uppercase;
        color:white;
        margin-top:15px;
        transition:all 0.5s ease-in-out;
        opacity:1;
    }
    &-types{
        margin-top:15px;
        transition:all 0.5s ease-in-out;
        opacity:1;
    }
    &-specs{
        display:flex;
        height:80px;
        width:100%;
        flex-direction: row;
        &-box{
            flex-grow:1;
            height:100%;
            width:100%;
            background: #ffffff;
            background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #efefef 100%);
            background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#efefef 100%);
            background: radial-gradient(ellipse at center,  #ffffff 0%,#efefef 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 );
        }
        &-title{
            text-align:center;
            font-size:14px;
            font-weight:100;
            width:100%;
            margin-top:10px;
            color:#757575;
        }
        &-value{
            margin-top:10px;
            text-align: center;
            font-size:16px;
            width:100%;
            color:#424242;
            transition:all 0.5s ease-in-out;
        }
    }
    &.slideIn{
        .pokemon-detail-name{
            transform:translateX(-30px);
            opacity:0;
        }
        .pokemon-detail-types{
            transform:translateX(-30px);
            opacity:0;
        }
        .pokemon-detail-number{
            opacity:0;
        }
        .pokemon-detail-image{
            opacity:0;
            transform:translateX(20px);
        }
        .pokemon-detail-specs-value{
            transform:translateY(20px);
            opacity:0;
        }
    }
    &-body{
        background-color:white;
        min-height:200px;
        &-evolutions{
            display:flex;
            flex-direction: row;
        }  
        &-evolution{
            flex-grow:1;
            position:relative;
            img{
                height:100px;
                position:absolute;
                left:50%;
                transform:translateX(-50%);
            }
        }
    }
}