<div class="pokemon-detail" ng-class="{'slideIn' : !ctrl.slideIn}">
    <header class="pokemon-detail-header">
        <span class="pokemon-detail-number" ng-bind="ctrl.pokemon.Id | numberFixedLength:3"></span>
        <h1 class="pokemon-detail-name" ng-bind="ctrl.pokemon.Name"></h1>
        <div class="pokemon-detail-types">
            <span ng-repeat="type in ctrl.pokemon.Types">
                <span ng-if="$index > 0">/</span>
            <span ng-bind="type.Name"></span>
            </span>
            <span>Pokémon</span>
        </div>
        <div class="pokemon-detail-image">
            <img src="assets/images/pokemons/{{ctrl.pokemon.Id | numberFixedLength:3}}.png" />
        </div>
    </header>
    <pokemon-detail-specs></pokemon-detail-specs>
    <div class="pokemon-detail-body">
        <div class="row">
            <div class="column">
                <div class="pokemon-detail-body-weaknesses">
                    <poke-type ng-repeat="weakness in ctrl.pokemon.Weaknesses" type="{{weakness}}"></poke-type>
                </div>
                <h3>Weaknesses</h3>
            </div>
            <pokemon-detail-stats-chart pokemon="ctrl.pokemon"></pokemon-detail-stats-chart>
        </div>
        <div class="pokemon-detail-body-evolutions">
            <div class="pokemon-detail-body-evolution" ng-repeat="evolution in ctrl.pokemon.Evolutions" ng-click="ctrl.gotoEvolution(evolution)">
                <img src="assets/images/pokemons/{{evolution.Id | numberFixedLength:3}}.png" />
            </div>
        </div>
    </div>
</div>