.energy-usage{
    display:flex;
    flex-direction: row;
    margin:10px 10px;
    &.normal-moves{
        .energy{
            background: #44b3fc;
            background: -moz-linear-gradient(top,  #44b3fc 0%, #4dc8fc 50%, #6cdffc 100%);
            background: -webkit-linear-gradient(top,  #44b3fc 0%,#4dc8fc 50%,#6cdffc 100%);
            background: linear-gradient(to bottom,  #44b3fc 0%,#4dc8fc 50%,#6cdffc 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b3fc', endColorstr='#6cdffc',GradientType=0 );
            border:#AFDAFF 3px solid;
        }
    }
    &.special-moves{
        .energy{
            background: #44b3fc;
            background: -moz-linear-gradient(top,  #44b3fc 0%, #4dc8fc 50%, #6cdffc 100%);
            background: -webkit-linear-gradient(top,  #44b3fc 0%,#4dc8fc 50%,#6cdffc 100%);
            background: linear-gradient(to bottom,  #44b3fc 0%,#4dc8fc 50%,#6cdffc 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#44b3fc', endColorstr='#6cdffc',GradientType=0 );
            border:#AFDAFF 3px solid;
        }
    }
    .energy{
        height:18px;
        flex:1;
        border-radius:7px;
        margin:3px;
    }
}