@include font-face(Montserrat, '../fonts/Montserrat-Regular');
.vertical-divider{
    width:1px;
    height:80%;
    margin-top:10%;
    background-color:white;
    display: inline-block;
    margin-right:5px;
    margin-left:5px;
}